span.rune
{
    color: orange;
}

.r11
{
    background-color: #211;
}

.r22
{
    background-color: #301818; /* 422 */
}

.r44
{
    background-color: #633;
}

.g11
{
    background-color: #121;
}

.g22
{
    background-color: #183018;
}

.g44
{
    background-color: #363; /* 242 */
}

.b11
{
    background-color: #003; /* 113 */
}

.b22
{
    background-color: #181840;
}

.b44
{
    background-color: #226; /* 336 */
}

.k11
{
    background-color: #111;
}

.k22
{
    background-color: #222;
}

.k44
{
    background-color: #444;
}

/* Crushing Blow */
span.cb
{
    color: #F84;
}

/* Can't Be Frozen */
span.cbf
{
    color      : #46F;
    font-weight: bold;
}

/* Deadly Strike */
span.ds
{
    color: #FAF;
}

/* Damage Reduction */
span.dr
{
    background-color: #0AA;
    padding-left    : 2px;
    padding-right   : 2px;
}

/* Farm Boss */
span.farm
{
    color: #4EF;
}

/* Faster Cast Rate */
span.fcr
{
    color: #08F; /* cyan */
}

/* Faster Hit Recovery */
span.fhr
{
    background-color: #08F; /* 23A */
    color           : #FFF;
    padding-left    : 2px;
    padding-right   : 2px;
}

/* Gold Find */
span.gold
{
    color: yellow;
}

/* Increased Attack Speed */
span.ias
{
    color: #4F8;
}

/* Ignores Target's Defense */
span.idr
{
    color: #4EF;
}

/* Level Requirement */
span.n
{
    color: #08F;
}

/* Open Wounds */
span.ow
{
    color: #F44;
}

/* Getting Magic Items */
span.mf
{
    color: #A2F;
    font-weight: bold;
}

span.skill
{
    background-image: linear-gradient(to right, #08F, #008);
}

/* Resist spacer */
.padd
{
/*
    background-color: #F0F;
*/
    color           : #FFF;
    padding-left    : 2px;
    padding-right   : 2px;
}

/* Cold Resist % */
span.resc
{
    background-color: #6e79b9;
    color           : #FFF;
    padding-left    : 2px;
    padding-right   : 2px;
}

/* Fire Resist % */
span.resf
{
    background-color: #b55d59;
    color           : #FFF;
    padding-left    : 2px;
    padding-right   : 2px;
}

/* Physical Resist % */
span.resh
{
    background-color: #b8a886;
    color           : #FFF;
    padding-left    : 2px;
    padding-right   : 2px;
}

/* Poison Resist % */
span.resp
{
    background-color: #57cf49;
    color           : #FFF;
    padding-left    : 2px;
    padding-right   : 2px;
}

/* Magic Resist % */
span.resm
{
    background-color: #c1893f;
    color           : #FFF;
    padding-left    : 2px;
    padding-right   : 2px;
}

/* Lightning Resist % */
span.resl
{
    background-color: #f2e8a0;
    color           : #000;
    padding-left    : 2px;
    padding-right   : 2px;
}

/* Resist All */
span.resa
{
    background-image: linear-gradient(to right, #800, #080, #00C);
    padding-left    : 2px;
    padding-right   : 2px;
}


span.rev
{
    background-color: #FFF;
    color           : #000;
}

span.odd
{
    background-color: #222;
}
