/* ---------- Table ---------- */
table.head
{
    border         : 0;
    border-collapse: collapse;
    margin         : 0;
    padding        : 0;
    text-align     :left;
    table-layout   : fixed; /* iOS */
}

th
{
    color      : #FF8; /* Softer yellow */
    white-space: pre;
}

table, tr
{
/*
    margin-top: -2px;
    margin-bot: -2px;
    border-collapse: collapse;
    border         : 1px solid red;
border         : none;
*/
    margin         : 0;
    padding        : 0;
    margin-block   : 0;
    border-spacing : 0;
    border-collapse: collapse;
}

td
{
    margin : 0;
    padding: 0;
}

/* Top and Bottom line colors */
tr.rt
{
    border-top   : 1px solid #F00;
    margin-top   : 1px;
}

tr.rb
{
    border-bottom: 1px solid #F00;
    margin-bottom: 1px;
}

tr.gt
{
    border-top   : 1px solid #0F0;
    margin-top   : 1px;
}

tr.gb
{
    border-bottom: 1px solid #0F0;
    margin-bottom: 1px;
}

tr.bt
{
    border-top   : 1px solid #08F;
    margin-top   : 1px;
}

tr.bb
{
    border-bottom: 1px solid #08F;
    margin-bottom: 1px;
}

tr.kt
{
    border-top   : 1px solid #FFF;
    margin-top   : 1px;
}

tr.kb
{
    border-bottom: 1px solid #FFF;
    margin-bottom: 1px;
}
