/* ---------- Table ---------- */
table.head
{
    border         : 0;
    border-collapse: collapse;
    margin         : 0;
    padding        : 0;
/*
    table-layout   : fixed;
*/
}

tr.evn
{
    background-color: #000;
    height          : 16px;
    line-height     : 16px;
    margin          : 0;
    padding         : 0;
}

tr.odd
{
    background-color: #222;
    height          : 16px;
    line-height     : 16px;
    margin          : 0;
    padding         : 0;
}

table, tr
{
/*
    margin-top: -2px;
    margin-bot: -2px;
    border-collapse: collapse;
    border         : 1px solid red;
border         : none;
*/
    margin         : 0;
    padding        : 0;
    margin-block   : 0;
}

td
{
    margin : 0;
    padding: 0;
}
