/* ---------- Tool Tips ---------- */
 .gemtip
{
    display       : inline-block;
    position      : relative;
    width         : 505px;
    height        : 30px;
}

.gemtip:hover
{
    background-color: #888;
    color           : #000;
}

.gemtip .gemtext
{
    background-color: #123;
    border          : 1px solid #08F;
    border-radius   : 4px;
    color           : #ddd;
    font-family     : sans-serif;
    font-size       : 14px;
    padding         : 5px 0;
    position        : absolute;
    text-align      : center;
    visibility      : hidden;
    width           : 500px;
    z-index         : 1;
}

.gemtip:hover .gemtext
{
    visibility: visible;
    top       : 0px;
    left      : -505px;
}

.gemtitle
{
    color      : #fff;
    font-weight: bold;
}

.tooltip
{
    display       : inline-block;
    font-family   : Consolas, Menlo, Monaco, Lucida Console, monospace;
    height        : 16px;
    position      : relative;
    vertical-align: middle;
    white-space   : pre;
}

.tooltip:hover
{
    background-color: #FF0; /* 888 */
    color           : #000;
}

.tool
{
    border          : 1px solid skyblue;
    border-radius   : 4px;
    color           : #fff;
    font-family     : sans-serif;
    font-size       : 14px;
    margin          : 0px;
    padding         : 32px 0px 32px 0px;
    position        : absolute;
    text-align      : center;
    visibility      : hidden;
    width           : 500px;  /* 1300 - 800 */
    z-index         : 1;
}

.ttr
{
    background-color: #312;
}

.ttr2
{
    background-color: #312;
}

.ttg
{
    background-color: #132;
}

.ttb
{
    background-color: #123;
}

.ttk
{
    background-color: #222;
}

.tooltip:hover .ttr
{
    visibility: visible;
    top       : -40px;
    left      : 800px;
}

.tooltip:hover .ttg
{
    visibility: visible;
    top       : -40px;
    left      : 800px;
}

.tooltip:hover .ttb
{
    visibility: visible;
    top       : -40px;
    left      : 800px;
}

.tooltip:hover .ttk
{
    visibility: visible;
    top       : -40px;
    left      : 800px;
}
