:root {
    --light-color: 250, 250, 250;
    --medium-color: 175, 175, 175;
    --dark-color: 100, 100, 100;
    --red-color: 221, 77, 77;
    --green-color: 89, 159, 0; 
    --blue-color: 26, 131, 221;
    --yellow-color: 255, 200, 0;
    --cyan-color: 52, 199, 199;
    --purple-color: 132, 60, 185;
    --brown-color: 131, 88, 46;
    --header-color: 80, 80, 80;
    --headerbg-color: 240, 240, 240;
    --note-color: 160, 128, 219;
    --gold-color: 207, 154, 0;
}
/* ----- General ----- */

b
{
    color: rgb(var(--note-color));
}

body
{
    color           : rgb(var(--dark-color));
    background-color: rgb(var(--light-color));
}

a:link
{
    color           : rgb(var(--dark-color));
}

/* ----- Background Colors ----- */
.r11
{
    background-color: rgba(var(--red-color), 0.1);
}

.r22
{
    background-color: rgba(var(--red-color), 0.2);
}

.g11
{
    background-color: rgba(var(--green-color), 0.1);
}

.g22
{
    background-color: rgba(var(--green-color), 0.2);
}

.b11
{
    background-color: rgba(var(--blue-color), 0.1);
}

.b22
{
    background-color: rgba(var(--blue-color), 0.2);
}

.k11
{
    background-color: rgba(var(--dark-color), 0.05);
}

.k22
{
    background-color: rgba(var(--dark-color), 0.1);
}

.y11
{
    background-color: rgba(var(--brown-color), 0.1);
}

.y22
{
    background-color: rgba(var(--brown-color), 0.2);
}

/* ---------- Table ---------- */
th
{
    color      : rgb(var(--header-color));
}

.bt > .runetip, th
{
    background-color: rgb(var(--headerbg-color));
}

.bt
{
    background-color: rgb(var(--headerbg-color));
}

.bt > .runetip > span:first-child, a
{
    color      : rgb(var(--header-color)) !important;
}

span.r { color: rgb(var(--red-color)); }
span.g { color: rgb(var(--green-color)); }
span.b { color: rgb(var(--blue-color)); }

/* ---------- Tool Tips ---------- */
.tooltip:hover
{
    background-color: rgba(var(--yellow-color), 0.2);
}

.runetip .gemtext,
.runetip .runehelp1,
.runetip .runehelp2,
.runetip .runehelp3,
.tool.ttk,
.tool.ttr,
.tool.ttg,
.tool.ttb
{
    will-change: transform;
    background-color: rgb(var(--light-color));
    color           : rgb(var(--dark-color));
    border-color    : rgb(var(--medium-color));
    filter: drop-shadow(0 0 8px rgb(var(--medium-color)));
    font-weight: normal;    /* Investigate why the user agent stylesheet is setting font to bold */
}

/* Upping formulas */
.tool.ttk img:nth-of-type(-n + 2) /* Only affect the runes and not the gem */
{
    filter: brightness(150%);
}

.rejuvs,
.rejuvf
{
    filter: brightness(150%);
}

.runetype
{
    color           : rgb(var(--header-color));
}

.runetip:hover
{
    background-color: rgba(var(--yellow-color), 0.2);
}

/* Top and Bottom line colors */
tr.rt
{
    border-top   : 1px solid rgb(var(--red-color));
}

tr.rb
{
    border-bottom: 1px solid rgb(var(--red-color));
}

tr.gt
{
    border-top   : 1px solid rgb(var(--green-color));
}

tr.gb
{
    border-bottom: 1px solid rgb(var(--green-color));
}

tr.bt
{
    border-top   : 1px solid rgb(var(--blue-color));
}

tr.bb
{
    border-bottom: 1px solid rgb(var(--blue-color));
}

tr.kt
{
    border-top   : 1px solid rgb(var(--dark-color));
}

tr.kb
{
    border-bottom: 1px solid rgb(var(--dark-color));
}

tr.yt
{
    border-top   : 1px solid rgb(var(--note-color));
}

tr.yb
{
    border-bottom: 1px solid rgb(var(--note-color));
}

/* ----- Spans ----- */
span.alvl83 { color: rgb(var(--green-color)); }
span.alvl84 { color: rgb(var(--blue-color)); }
span.alvl85 { color: rgb(var(--red-color)); }

span.note
{
    color     : rgb(var(--note-color));
}

span.noterune
{
    color     : rgb(var(--dark-color));
}

span.gold
{
    color     : rgb(var(--gold-color));
}

span.farm
{
    color: rgb(var(--cyan-color));
}

span.l
{ 
    color: rgb(var(--blue-color)); 
}

span.c 
{ 
    color: rgb(var(--green-color)); 
}

span.rev
{
    background-color: rgb(var(--dark-color));
    color           : rgb(var(--light-color));
}

/* ----- Span Borders for Selected/Unselected ----- */
span.sel
{
    background-color: orange;
    color:          : rgb(var(--light-color)) !important;
    border          : none;
}

span.unsel
{
    background-color: #00000000;
    color:          : orange !important;
    border          : none;
}

span.rws
{
    background-color: rgb(var(--medium-color));
    border          : 1px solid rgb(var(--red-color));
    color           : #FFF;
}

span.rwu
{
    background-color: #00000000;
    color           : rgb(var(--header-color));
}

span.n
{
    color: rgb(var(--blue-color));
}

/* Rune Upgrades */
span.x
{
    color: rgb(var(--cyan-color));
}

span.y
{
    color: rgb(var(--note-color));
}

/* Gems Color Coding */
.gemam
{
    background-color: rgba(var(--purple-color), 0.2);
}

.gemdi
{
    background-color: rgba(var(--dark-color), 0.2);
}

.gemem
{
    background-color: rgba(var(--green-color), 0.2);
}

.gemru
{
    background-color: rgba(var(--red-color), 0.2);
}

.gemsa
{
    background-color: rgba(var(--blue-color), 0.2);
}

.gemsk
{
    background-color: rgba(var(--dark-color), 0.2);
}

.gemto
{
    background-color: rgba(var(--yellow-color), 0.2);
}

/* Stats Color Coding */
span.skill
{
    color: rgb(var(--light-color));
}

span.ias
{
    color: rgb(var(--green-color));
}

span.resa
{
    color: rgb(var(--light-color));
}

span.idr
{
    color: rgb(var(--cyan-color));
}

span.cbf
{
    color: rgb(var(--blue-color));
}

span.mf
{
    color: rgb(var(--purple-color));
}

/* Customs */
.visible
{
    filter: brightness(100%);
    opacity: 100%;
}

.hidden
{
    filter: brightness(100%);
    opacity: 35%;
}

/* Improve runes readability on light background */
.visible img
{
    filter: brightness(150%);
}

.hidden img
{
    filter: brightness(150%);
}

.wp
{
    filter: brightness(250%);
}